<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <h2>
    {{ subtitle }}
  </h2>
  <br/>
  <br/>
</div>
<h4 class="col-sm-6 offset-3">
  {{ about }}
</h4>
<p class="col-sm-6 offset-3">
  {{ about_text_1 }}
  <a href="{{ link_medienrevolte }}">idea in action</a>
  {{ about_text_2 }}
</p>
<h5 class="col-sm-6 offset-3">
  {{ who }}
</h5>
<p class="col-sm-6 offset-3">
  <a href="{{ link_hristio }}">{{ name_hristio }}</a>
  {{ profession_hristio }}
  <br/>
  <a href="{{ link_elena }}">{{ name_elena }}</a>
  {{ and }} <a href="{{ link_simon }}">{{ name_simon }}</a>
  {{ profession_simon_elena }}
  <br/>
  <a href="{{ link_karl }}">{{ name_karl }}</a>
  {{ profession_karl }}
</p>
<h5 class="col-sm-6 offset-3">
  {{ get_in_touch }}
</h5>
<p class="col-sm-6 offset-3">
  {{ get_in_touch_text }}
  <a href="{{ twitter_link }}">@followthegrant</a>
</p>
<h5 class="col-sm-6 offset-3">
  {{ funded_by }}
</h5>
<img class="col-sm-6 offset-3" width="100%" alt="Angular Logo" src="/assets/funders.svg"/>

