<div class="container">
  <div class="row mt-4">
    <div class="input-group col-8 justify-content-around">
      <input
        (keyup.enter)="getResults(input)" #input
        type="text" class="form-control"
        placeholder="search for author, paper, subject,.."
        aria-label="search for author, paper, subject,..">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                (click)="getResults(input)"
                type="button">search
        </button>
      </div>
    </div>
  </div>
  <ul class="list-group mt-4">
    <li
      *ngFor="let disc of this.disclosures"
      class="list-group-item">
      {{ 'Author: ' + disc.authorName }}
    </li>
  </ul>
</div>
