<div class="container">
  <div class="row mt-4">
    <div class="input-group col-8 offset-2">
      <input
        (keyup.enter)="getResults(input)" #input
        type="text" class="form-control"
        placeholder="search for author, paper, subject,.."
        aria-label="search for author, paper, subject,..">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                (click)="getResults(input)"
                type="button">search
        </button>
      </div>
    </div>
  </div>
  <ul class="list-group mt-4">
    <li
      *ngFor="let disc of this.disclosures"
      class="list-group-item">
      <div class="row">
        <div class="col-12 font-weight-bold lead">
          {{ disc.disclosurex }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small>
            <span (click)="onNavigate(disc.url)">
              {{ disc.title }}
            </span>
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small class="font-italic">
            Author:
          </small>
          {{ disc.authorName }}
        </div>
      </div>
      <div class="row" *ngIf="disc.institutions.length > 0">
        <div class="col-12">
          <small class="font-italic">
            Institutions:
          </small>
          <small>
            {{ disc.institutions }}
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-auto">
          <small class="font-italic">
            Publisher:
          </small>
          <small>
            {{ disc.publisher }}
          </small>
        </div>
        <div class="col-sm-auto">
          <small>
            {{ disc.date }}
          </small>
        </div>
      </div>
    </li>
  </ul>
</div>
